@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Bokningsbekräfelse</h1>

@*<h4>Namn = @ViewBag.Name</h4>*@
<h4>Email = @ViewBag.mail</h4>

@*<h4>Rum = @ViewBag.rum</h4>*@
<h4>Incheckning = @ViewBag.från</h4>
<h4>Utcheckning = @ViewBag.till</h4>
<h4>Antal gäster = @ViewBag.antGäster </h4>
<h4>Antal nätter = @ViewBag.antalnätter</h4>
<p> </p>
<h4>Den totala summan för bokning: @ViewBag.kostnad1 Sek</h4>
<p> - </p>
<h3>Vi på Hotell Isaac ser framemot erat besök!</h3>