@model IsaacsHotell.Models.Gäst

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gäst</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Förnamn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Förnamn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Efternamn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Efternamn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BokningId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BokningId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
